registry "https://artifactory.mvk.com/artifactory/api/npm/npm/"
"@vkontakte-internal:registry" "https://artifactory.mvk.com/api/npm/npm-vkontakte/"
"@superappkit:registry" "https://artifactory.mvk.com/api/npm/npm-vkontakte/"
"@vk-ecosystem:registry" "https://artifactory.mvk.com/api/npm/npm-vkontakte/"
