name: 'Publish'

on:
  workflow_dispatch:
    inputs:
      new_version:
        description: 'version type:'
        type: choice
        default: 'minor'
        options:
          - patch
          - minor
          - major
        required: true

run-name: Publish vk-mini-apps-router ${{ inputs.new_version }}

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          token: ${{ secrets.DEVTOOLS_GITHUB_TOKEN }}

      - name: Setup NodeJS
        uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'
          cache: 'yarn'
          always-auth: true
          registry-url: 'https://registry.npmjs.org'

      - name: Install dependencies
        run: yarn install --frozen-lockfile --ignore-scripts
        shell: bash

      - name: Set Git credentials
        run: |
          git config --local user.email "actions@github.com"
          git config --local user.name "GitHub Action"
        shell: bash

      - name: Bump version
        id: updated_versions_info
        uses: ./.github/actions/bump-version
        with:
          version: ${{ github.event.inputs.new_version }}

      - name: Validation
        uses: ./.github/actions/validation

      - name: Update npm
        run: npm install -g npm@latest
        shell: bash

      - name: Publish to npm
        run: npm publish --access public
        shell: bash

      - name: Commit and tag version bump
        run: |
          git add package.json
          git commit -m "bump(vk-mini-apps-router): from ${{ steps.updated_versions_info.outputs.prev_version }} to ${{ steps.updated_versions_info.outputs.next_version }}"
          git tag vk-mini-apps-router@${{ steps.updated_versions_info.outputs.next_version }}
        shell: bash

      - name: Pushing changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.DEVTOOLS_GITHUB_TOKEN }}
          branch: ${{ github.ref }}
          tags: true
